@media (max-width:768px) {
    .menuConMain {
        position: relative;
    }
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
        width: 100%;
        padding: 0 15px;
    }
    .dropMenu {
        position: unset;
        text-align: left;
    }
    .collopse {
        display: block;
    }
    .sidebarbtn {
        margin-top: 65px;
    }
}